*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
}
a{
  text-decoration: none;
  color: #000;
}
li{
  list-style: none;
  color: #000;
}
.logo > img{
  width: 4.4rem;
}
ul{
  margin: 0 !important;
  padding: 0 !important;
}
nav{
  height: 4.5rem;
  position: relative;
}
.nav-link li,
.sub-links li{
  font-size: .9rem;
}
.sub-links{
  background: #000;
  width: 16rem;
  border-radius: 1rem;
  position: absolute;
  display: none;
}
.dropdown:hover .sub-links{
  display: block;
  transition: all .3s ease-in-out;
}
.sub-links > a > li{
  color: #fff;
  padding: 1rem 1.3rem;
  border-bottom: .1rem solid #707070;
}
.sub-links > a >li:hover{
  background: #4c4c4c;
  transition: all .1s ease-in-out;
}
.first-li:hover{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.last-li:hover{
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.search{
  width: 70%;
  height: 2.2rem;
  border: .18rem solid #000;
  padding: 0 1rem;
}
input{
  background: transparent;
  border: none;
  outline: none;
  width: 80%;
  padding-bottom: .1rem;
}
input::placeholder{
  font-size: .9rem;
}
/*  */
.learn-more{
  background: #ffcc00;
  border-radius: 2rem;
  width: 9rem;
  height: 2.5rem;
}
.hero-banner{
  /* background-image: url("../images/hero-banner.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero1{
  padding: 11rem 0 10.5rem 8rem;
}
/* .card-overlay {
  background: rgba(0, 0, 0, 0.4);
} */